@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

$color-primary: #292929;
$color-secondary: #1c1c1c;
$color-secondary-light: #fff;
$color-ternary-light: #1a90ff;
$color-ternary-warning: #ff384a;
$color-ternary-main: #666666;
$color-status-green: #3cc13b;
$color-status-red: #F03738;

* {
  margin: 0;
}

p {
  width: 15rem;
  padding: .7rem 1rem .7rem 0;
  display: inline-block;
}

body {
  background: $color-primary;
  box-sizing: border-box;
}

.error {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: $color-ternary-warning;
}

.loading {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: $color-ternary-light;
}

.manageUserForm {
  max-width: 30rem;
  color: rgba($color-secondary-light, 0.8);
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: left;
  margin: 1.5rem 5rem 2rem 2rem;
  border: magenta 1px solid;

  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__key {
      flex: 2;
    }
    &__value {
      margin: .3rem 0;
      font-weight: 300;
      flex: 3;

      input, select {
        padding: .7rem 1rem;
        width: 15rem;
        background: $color-secondary;
        color: $color-secondary-light;
        border: rgba($color-secondary-light, 0.87) 1px solid;
        border-radius: .4rem;

        &:focus {
          outline: none;
          border: $color-secondary-light 1px solid;
        }
      }
      &__grades {
        border: magenta 1px solid;
        text-align: right;
        input {
          padding: .7rem 1rem;
          width: 2rem;
          margin: .5rem;
        }
        p {
          color: rgba($color-secondary-light, 0.8);
          font-family: Montserrat, sans-serif;
          font-weight: 500;
          font-size: 1.1rem;
        }
      }

      select {
        width: 17.1rem;
      }
    }
  }

}

.container {
  background: $color-secondary;
  width: 90%;
  margin: 0 auto;
  border: 1px $color-ternary-main solid;
  border-radius: .3rem;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: inherit;
    color: rgba(255,255,255, 0.87);
    font-size: 1.4rem;
    border: 1px #666666 solid;
    border-radius: .3rem;

    span {
      font-weight: 500;
    }
  }

  &__body {
    display: flex;
  }
}

.list {
  list-style: none;
  color: rgba($color-secondary-light, 0.8);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: left;
  margin: 2rem 5rem 2rem 0;

  &__values {
    font-weight: 300;
  }

  li {
    margin: .7rem 0;

    input, select {
      padding: .7rem 1rem;
      width: 15rem;
      background: $color-secondary;
      color: $color-secondary-light;
      border: rgba($color-secondary-light, 0.87) 1px solid;
      border-radius: .4rem;

      &:focus {
        outline: none;
        border: $color-secondary-light 1px solid;
      }
    }
    select {
      width: 17rem;
    }
  }

  &__keys {
    li {
      margin: 1.5rem;
    }
  }
}

.gradeContainer {
  background: $color-secondary;
  width: 31%;
  margin: 1rem auto;
  padding-bottom: 1rem;
  border: 1px $color-ternary-main solid;
  border-radius: .3rem;

  &__header {
    padding: 1rem;
    background: inherit;
    color: rgba(255,255,255, 0.87);
    font-size: 1.4rem;
    border: 1px $color-ternary-main solid;
    border-radius: .3rem;
    text-align: center;
    span {
      font-weight: 500;
    }
  }
  &__body {
    display: flex;
  }
}

.status_radio_button {
  display: flex;
  justify-content: flex-start;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 1.25px;
  font-size: .7rem;

  div:first-child label {
    margin-left: 0;
  }

  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  &__blue {
    display: inline-block;
    background: $color-secondary;
    border: rgba($color-ternary-light, 0.75) 1px solid;
    color: $color-ternary-light;
    padding: .5rem 1.1rem;
    border-radius: .2rem;
    margin: 0 .5rem;
  }

  &__red {
    display: inline-block;
    background: $color-secondary;
    border: rgba($color-status-red, 0.75) 1px solid;
    color: $color-status-red;
    padding: .5rem .7rem;
    border-radius: .2rem;
    margin: 0 .5rem;
  }

  &__green {
    display: inline-block;
    background: $color-secondary;
    border: rgba($color-status-green, 0.75) 1px solid;
    color: $color-status-green;
    padding: .5rem .7rem;
    border-radius: .2rem;
    margin: 0 .5rem;
  }

  input[type="radio"]:checked + label {
    display: inline-block;
    border: rgba($color-secondary-light, 0.75) 1px solid;
    color: $color-secondary-light;
    border-radius: .2rem;
  }

}

.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 1.25px;
  margin: 0 .5rem;
  padding: .7rem 1.5rem;
  color: $color-secondary-light;
  border: none;
  border-radius: .3rem;

  &__red {
    background: $color-ternary-warning;
  }

  &__blue {
    background: $color-ternary-light;
  }
}
