.header {
  color: white;
  background-color: #1c1c1c;
  padding: 5px 30px;
  margin: 10px;
  border: 1px solid #666666;
  height: 75px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header > h2 {
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
}

.main {
  color: white;
  background-color: #1c1c1c;
  border: 1px solid #666666;
  border-radius: 2px;
  padding: 20px;
}

#editButton {
  color: white;
  background-color: #2196f3;
  margin: 10px;
}
