.listContainer {
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1c1c1c;
  border: 1px solid #666666;
}

.manageCourseBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  border: 1px solid #666666;
  border-bottom: none;
  padding: 0 3%;
}
