@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

$color-primary: #292929;
$color-secondary: #1c1c1c;
$color-secondary-light: #fff;
$color-ternary-light: #1a90ff;
$color-ternary-warning: #ff384a;
$color-ternary-main: #666666;
$color-status-green: #3cc13b;
$color-status-red: #F03738;

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #000;
  width: 60%;
  margin: 0 auto;
  border: 1px #fff solid;
  border-radius: .2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: inherit;
    color: rgba(255,255,255, 0.87);
    font-size: 1.4rem;
    border: 1px #666666 solid;
    border-radius: .3rem;

    span {
      font-weight: 500;
    }
  }

  &__body {
    &__search {
      margin: 3rem;
      display: flex;
      justify-content: center;
    }
    &__table {
      margin: 1rem 2rem;
    }
  }
}
