.nav {
    width: 23%;
}

/*

const useStyles = makeStyles((theme: Theme) =>
createStyles({
root: {
width: '23%',
maxWidth: 360,
minWidth: 180,
backgroundColor: theme.palette.background.default,
borderRight: '1px solid #666',
color: '#fff',
'& .MuiListItem-root': {
'&:hover': {
             color: '#1A90FF',
             backgroundColor: '#1C1C1C',
         },
},
'& .MuiListItemIcon-root': {
                             color: 'inherit',
                         },
},
span: {
    paddingLeft: '13px',
    float: 'left',
    color: '#9E9E9E',
    fontSize: '14px',
},
userDiv: {
    borderBottom: '1px solid #666666',
},
}),
)
*/
