.nav {
    width: 23%;
    max-width: 16rem;
    min-width: 8rem;
    border-right: #666 1px solid;
}

.navSmall {
    width: 5rem;
    border-right: #666 1px solid;
}

.nav div p {
    font-family: Roboto, sans-serif;
    color: rgba(255,255,255,.87);
}

.settings {
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
}
