.menu{
    width: 20vw;
    height: 100vh;
    margin: 0 0;
    text-align: left;
    border: 1px solid #E5E5E5;
    background-color: #292929;
}

.menu li{
    list-style: none;
    padding-bottom: 10px;
    color: white;
}

.menu a {
    text-decoration: none;
}




/* .li{
    text-decoration: none;
} */