/* .menu{
    width: 15%;
    height: 100%;
    margin: 0 0;
    text-align: left;
    border-right: 1px solid #666666;
    background-color: #292929;
} */

.menu a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}
