@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
.error {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 17rem auto;
  color: #ff384a;
}
.loading {
  margin: 15rem auto;
}

.breadcrumbs {
  background-color: #1c1c1c;
  border: 1px solid #666666;
  border-radius: 0.2rem;
  padding: 1rem;
  margin: 1rem 0;
}

.container {
  background: #1c1c1c;
  margin: 1rem 0;
  border: 1px #666666 solid;
  border-radius: 0.3rem;
}
.container__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: inherit;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.4rem;
  border: 1px #666666 solid;
  border-radius: 0.3rem;
}
.container__header span {
  font-weight: 500;
  align-self: center;
}
.container__header__button {
  display: flex;
}
.container__body {
  display: flex;
}
.manageUserForm {
  max-width: 40rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: left;
  margin: 1.5rem 5rem 2rem 2rem;
}
.manageUserForm__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.manageUserForm__row__key {
  flex: 2;
  height: 3rem;
  display: flex;
}
.manageUserForm__row__key label {
  align-self: center;
}
.manageUserForm__row__value {
  margin: 0.3rem 0;
  height: 3rem;
  font-weight: 300;
  flex: 3;
  display: flex;
}
.manageUserForm__row__value p {
  margin-left: 1rem;
  align-self: center;
}
.manageUserForm__row__value input,
.manageUserForm__row__value select {
  padding: 0.7rem 1rem;
  width: 15rem;
  background: #1c1c1c;
  color: #fff;
  border: rgba(255, 255, 255, 0.87) 1px solid;
  border-radius: 0.4rem;
}
.manageUserForm__row__value input:focus,
.manageUserForm__row__value select:focus {
  outline: none;
  border: #fff 1px solid;
}
.manageUserForm__row__value select {
  width: 17.1rem;
}

.status_radio_button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 1.25px;
  font-size: 0.7rem;
}
.status_radio_button div:first-child label {
  margin-left: 1rem;
}
.status_radio_button__edit div:first-child label {
  margin-left: 0;
}
.status_radio_button input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.status_radio_button__blue {
  display: inline-block;
  background: #1c1c1c;
  border: rgba(26, 144, 255, 0.75) 1px solid;
  color: #1a90ff;
  padding: 0.5rem 1.1rem;
  border-radius: 0.2rem;
  margin: 0 0.5rem;
}
.status_radio_button__red {
  display: inline-block;
  background: #1c1c1c;
  border: rgba(240, 55, 56, 0.75) 1px solid;
  color: #f03738;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  margin: 0 0.5rem;
}
.status_radio_button__green {
  display: inline-block;
  background: #1c1c1c;
  border: rgba(60, 193, 59, 0.75) 1px solid;
  color: #3cc13b;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  margin: 0 0.5rem;
}
.status_radio_button input[type='radio']:checked + label {
  display: inline-block;
  border: rgba(255, 255, 255, 0.75) 1px solid;
  color: #fff;
  border-radius: 0.2rem;
}
