@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #000;
  width: 60%;
  margin: 0 auto;
  border: 1px #fff solid;
  border-radius: 0.2rem;
}
.container__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: inherit;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.4rem;
  border: 1px #666666 solid;
  border-radius: 0.3rem;
}
.container__header span {
  font-weight: 500;
}
.container__body__search {
  margin: 3rem;
  display: flex;
  justify-content: center;
}
.container__body__table {
  margin: 1rem 2rem;
}
