@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

$color-primary: #292929;
$color-secondary: #1c1c1c;
$color-secondary-light: #fff;
$color-ternary-light: #1a90ff;
$color-ternary-warning: #ff384a;
$color-ternary-main: #666666;
$color-status-green: #3cc13b;
$color-status-red: #F03738;

.error {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 5rem auto;
  color: $color-ternary-warning;
}

.loading {
  margin: 5rem auto;
}

.container {
  background: $color-secondary;
  margin: 1rem 0;
  border: 1px $color-ternary-main solid;
  border-radius: .3rem;

  &__header {
    justify-content: space-between;
    padding: 1rem;
    background: inherit;
    color: rgba(255,255,255, 0.87);
    font-size: 1.4rem;
    border: 1px #666666 solid;
    border-radius: .3rem;

    span {
      font-weight: 500;
      align-self: center;
    }
  }
}

.gradeContainer {
  background: $color-secondary;
  margin: 1rem auto;
  padding-bottom: 1rem;
  border: 1px $color-ternary-main solid;
  border-radius: .3rem;
  flex-basis: 20rem;

  &__header {
    padding: 1rem;
    background: inherit;
    color: rgba(255,255,255, 0.87);
    font-size: 1.4rem;
    border: 1px $color-ternary-main solid;
    border-radius: .3rem;

    span {
      font-weight: 500;
    }
  }

  &__body {
    margin: 1rem 2rem;
    color: rgba($color-secondary-light, 0.8);
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: left;

    &__row {
      display: flex;
      align-items: center;
      height: 3rem;

      &__key {
        flex: 2;
      }

      &__value div{
        margin: .3rem 0;
        font-weight: 300;
        flex: 4;
        display: flex;

        input {
          padding: .7rem 1rem;
          width: 2rem;
          margin: .5rem;
          background: $color-secondary;
          color: $color-secondary-light;
          border: rgba($color-secondary-light, 0.87) 1px solid;
          border-radius: .4rem;

          &:focus {
            outline: none;
            border: $color-secondary-light 1px solid;
          }
        }
        p {
          color: rgba($color-secondary-light, 0.8);
          font-family: Montserrat, sans-serif;
          font-weight: 500;
          font-size: 1.1rem;
        }
      }
    }
  }


}
