.invalid fieldset,
.invalid label {
  border-color: red !important;
  color: red !important;
}

.invalid-message {
  display: none;
}

.invalid + .invalid-message {
  display: block;
  color: red !important; /* for test only */
  text-align: left;
  padding: 5px;
}
