.teamId {
    font-size: 0.7em;
    font-weight: 500;
}
.manageTeams {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    border: gray 1px solid;
}
.container > * {
    border-bottom: gray 1px solid;
}
.container > *:last-child {
    border-bottom: none;
}
.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
    border: gray 1px solid;
}
.teamInfo {
    list-style-type: none;
}
.teamInfoRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
}
.manageContainer {
    margin-bottom: 3rem;
    display: grid;
    grid-template-areas:    "mainHeader sortBy addBtn";
    border-bottom: gray 1px solid;
    padding: 1rem;
}
.manageHeader {
    grid-area: mainHeader;
    align-self: center;
    padding: 1rem;
}
.addButton {
    grid-area: addBtn;
    justify-self: end;
    align-self: center;
}
.table {
    padding: 3rem;
}