@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Sarpanch:wght@600&display=swap');

.header {
  width: 100%;
  padding: 10px 0;
  background-color: #292929;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #666666;
}

.logo {
  margin-left: 2rem;
  font-family: 'Sarpanch', sans-serif;
  font-size: 2rem;
}

.logo span {
  color: #ffc53d;
}

.logout {
  margin-right: 2rem;
  margin-left: 3rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout span {
  padding-left: 10px;
}

.activeCourseBox {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.activeCourse {
  color: #ffc53d;
  margin-left: 1rem;
}
