<div style ="
        width: 60%;
        display: block;
        margin: 10px auto;
">

<header style ="
        background-color: black;
">
<img src="https://coderscamp.edu.pl/assets/img/logo.png" alt="Coders Camp logo" 
style = "height: 60px; width:auto; margin: 0 auto; display: block;"/>
</header>

<div style ="
        background-color: white;
        display: flex-column;
        justify-content: center;
        text-align:center;
        font-size: 16px;
">

        <p>Hi there :)</p>      
        <p>You requested to reset your password.</p>
        <p>To do this please use the link below:</p>
        <a href="https://{{link}}">Reset Password</a>
        <br/>
        <p>The link will be valid for one hour.</p>

</div>


<footer style ="
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
        font-size: 14px;
">
Coders Camp 2020
</footer>
</div>