<div style ="
        width: 80%;
        display: block;
        margin: 10px auto;
">

<header style ="
        background-color: black;
">
<img src="https://coderscamp.edu.pl/assets/img/logo.png" alt="Coders Camp logo" 
style = "height: 60px; width:auto; margin: 0 auto; display: block;"/>
</header>

<div style ="
        background-color: white;
        display: flex-column;
        justify-content: center;
        text-align:center;
        font-size: 16px;
">

        <h2>Hi {{userName}}!</h2>      
        <p>Welcome to Coders Camp! We're glad to see you here :)</p>
        <p>A great programming journey just starts for you - to follow its path please log in to the Coders Camp application.</p>
        <p>All the information needed to proceed with the course is available there.</p>
        <p>Here is the link to the application: {{appLink}}</p>
        <p>Your account has to be activated by the organisers first - don't worry if you can't login now :)</p>
         <br/>
        <p>Remember - your login is {{email}}</p>
        <br/>
        <h4>Enjoy the coding!</h4>
        <br/>
</div>


<footer style ="
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
        font-size: 14px;
">
Coders Camp 2020
</footer>
</div>