.manageTeams {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  border: gray 1px solid;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
  border: gray 1px solid;
}
.searchInput {
  width: 350px;
}
.manageContainer {
  margin-bottom: 3rem;
  display: grid;
  grid-template-areas: 'mainHeader sortBy buttons';
  border-bottom: gray 1px solid;
  padding: 1rem;
}
.buttons {
  display: flex;
  grid-area: buttons;
  justify-self: end;
  align-self: center;
  justify-content: space-around;
  align-items: center;
}
.buttons > * {
  margin-left: 2rem !important;
}
.selectSortBy {
  grid-area: sortBy;
  justify-self: end;
  align-self: center;
}
.manageHeader {
  grid-area: mainHeader;
  align-self: center;
  padding: 1rem;
}
.table {
  padding: 3rem;
}
