# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\ireneusz\WebstormProjects\BACKEND_CODERS\CodersCamp2020.Project.FullStack-Node-React.OrganizationApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
