.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.select {
  min-width: 200px;
  text-transform: capitalize;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttons > * {
  margin-left: 1rem !important;
}
